<%= form_with model: @article, local: true do |form|  %>
  <% if @article.errors.any? %>
  <div id="error_explanation"></div>
  <h2>
    <%= pluralize(@article.errors.count, "error") %>
    prohibited this article from being saved:
  </h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>

  </ul>
  <% end %>

  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text %>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
