<h1>Listing articles</h1>
<%= link_to 'New Article', new_article_path, class: 'btn btn-success' %>
<table class="table table-hover">
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Action</th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td>
        <%= link_to 'Show', article_path(article), class: 'btn btn-info' %>
        <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-warning' %>
        <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </td>
    </tr>
  <% end %>
</table>
