<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<h2>Comments</h2>
<% @article.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a Comment:</h2>
<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>

<% end %>

<%= link_to 'Back', articles_path, class: 'btn btn-primary' %>
<%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-warning' %>
